<%= javascript_pack_tag "upload_sorting_new" %>
<%= javascript_pack_tag "clickzoom" %>
<%= javascript_pack_tag "touch-punch" %>

<div style="clear:both;" xmlns="http://www.w3.org/1999/html"></div>

<div class="document_frame">

  <div class="input_area" style="float: left;width: 50%">
    <div style="width: 20%;min-width:130px;border-right-style:solid;border-right-color:lightgrey;border-right-width:1px; float:  left">
      <%= button_to "Scan Document", {:controller => 'scanners', :action => "scan_info"}, {:id => 'scan_menu_link', :method => :get, :remote => true, :style => 'margin-bottom:5px;'} %>
      <%= button_to "Upload File ", nil, {id: 'btn_start_upload', :method => :get, :remote => true , :style => 'margin-bottom:5px;margin-top:7px;'} %>
    </div>
    <div id='scan_menu' style="margin-left: 15px;float:left; width:70%; display:none">
      <%= image_tag('small_spinner.gif') %>
      <%= label_tag(nil, 'checking scanner') %>
    </div>
    <div id='upload_menu' style="margin-left: 15px;float:left; width:40%; display:none">
      <%= form_for :file_upload, :url => {:controller => 'uploads', :action => 'create_from_upload'}, :html => {:multipart => true, :remote => true,  :id => 'button_upload_trigger'} do |f| %>
        <%= f.submit "Upload", :id => 'submit_for_upload', :style => "display: none;" %> <%= f.file_field :my_file %>
      <% end %>
      <div id='upload_result'></div>
    </div>
    <div id='info_menu' style="margin-left: 15px;float:left; width:40%; ">
      <p style="font-size: medium; color:grey">Scan or upload a file</p>
    </div>

  </div>

  <!--------------------------------------- list new uploaded pages -->
  <ul class="document_page_index" id="sortable1">

    <% unless @pages.nil? then %>
      <% @pages.each do |page| %>
        <%= render :partial => 'uploads/page_uploaded', :locals => {:page => page} %>
      <% end %>

    <% end %>

  </ul>


  <!--------------------------------------- create a new document from uploaded pages -->
  <div class="document_sort_frame">

    <div style="margin-left: 10px; margin-right: 10px;">

      <%= form_for(@document, :url => {:controller => 'upload_sorting', :action => 'create'}) do |f| %>

        <!--- https://www.w3schools.com/howto/howto_css_inline_form.asp-->
        <div class="input_area">
          <div class="form-inline">
            <label>
              <%= f.label :comment, 'Comment' %>
              <%= f.text_field :comment, size: 40 %>
            </label>
            <label>
              <%= f.label :created_at, 'Created' %>
              <%= f.text_field :created_at, :value => Date.today.to_s, data: {behavior: "flatpickr"}, size: 8 %>
            </label>
          </div>

          <%= render :partial => '/keywords', :locals => {:current_keywords => @document.keyword_ids} %>


          <div class="form-inline" style="margin-top: 10px">

            <label style="margin-left:10px">
              <%= f.label :delete_at, 'Delete after years' %>
              <%= f.select(:delete_at, options_for_select([['1', Date.today + 1.year], ['2', Date.today + 2.year], ['5', Date.today + 5.year]]), {:include_blank => ''}, :id => 'lb_no_delete') %>
            </label>

            <label style="margin-left:10px">
              <%= f.label :folder_id, 'Change Folder' %>
              <%= f.select(:folder_id, options_from_collection_for_select(Folder.all, 'id', 'name'), {:selected => Folder.first.id}) %>
            </label>

            <label style="margin-left:10px">
              <div class="pretty p-default p-curve">
                <%= f.check_box(:no_delete, :id => 'cb_no_delete') %>
                <div class="state p-warning"><label>Never delete this file</label></div>
              </div>
            </label>

          </div>

          <div class="line_break_single"></div>
          <!------- check Javascripts, upload_search_sorting --->
          <%= f.submit "Upload", :id => "id_upload_btn", :name => "name_upl" %>
          <%= f.submit "PDF Download", :id => "id_pdf_btn", :name => "name_pdf" %>
        </div>

        <h1>Drop pages here to sort for upload</h1>

        <ul class="document_sort" id="sortable2">
          <%= render :partial => 'pages_sorted', :locals => {:pages_sorted => @pages_sorted} %>
        </ul>

      <% end %>
    </div>


  </div>


</div>
<!--- This is used for the PDF download, so the javascript has an option to create a hidden link --->
<a id="download_csv" hidden></a>
