<%= form_for(@cover) do |f| %>
  <% if @cover.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cover.errors.count, "error") %> prohibited this cover from being saved:</h2>

      <ul>
      <% @cover.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :folder_id %><br />
    <%= f.number_field :folder_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
