<h1 xmlns="http://www.w3.org/1999/html">Status Information</h1>

</div>




<div class="status_frame">

  <h2>Converter / Scanners Connected</h2>

  <table>
    <tr>
      <th>Uid</th>
      <th>Service</th>
      <th>Prio</th>
      <th>Uri</th>
    </tr>

    <% Connector.all.each do |connection| %>
      <tr>
        <td><%= connection.uid %></td>
        <td><%= connection.service %></td>
        <td><%= connection.prio %></td>
        <td><%= connection.uri %></td>
      </tr>
    <% end %>
  </table>
  <br/>
  <%= button_to "Maintain Connections", connectors_path, :method => :get, :id => nil %>

</div>

<div class="status_frame">
  <h2>Documents not converted: <%= Page.uploading_status(:not_converted) %></h2>
  <h2>Documents pending conversion: <%= Page.uploading_status(:processing) %></h2>
  <% if Converter.connected? then %>
    <h2>Connected to remote Converter!</h2>
    <%= button_to "Trigger conversion & cleaning now ", status_start_conversion_path, :method => :get %>
  <% else %>
    <h2>Not connected !!!</h2>
  <% end %>
</div>


<div class="status_frame">
  <h2>Documents without
    backup: <%= Page.uploading_status(:no_backup) %> <%= button_to "Trigger backup now", trigger_backup_path, :method => :get if Page.uploading_status(:no_backup) > 0 %></h2>
  Documents not converted will not be uploaded to backup
</div>




<h1>Logfile</h1>



<div class="status_frame">

  </br>

  <%= button_to "Clear Logfile and Errors", status_clear_path, :method => :get %>

  </br>

  <table>
    <% Log.order('created_at desc').all.each do |log| %>
      <tr>
        <td style="border: 1px solid">
          <% if log.messagetype == Log::ERROR %>
            <p style="color:red">ERROR</p>
          <% else %>
            STATUS
          <% end %>
        </td>
        <td style="border: 1px solid">
          <%= log.created_at.localtime %>
        </td>
        <td style="border: 1px solid">
          <%= log.source %>
        </td>
        <td style="border: 1px solid">
          <%= log.message %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
