<!DOCTYPE html>
<html>
  <head>
    <title>DBServer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <div id="container">
    <div class="navbar">
      <%= link_to "Search", search_path %>
      <%= link_to  show_link_pages_sorted, new_upload_sorting_path, :id=>'link_sort_count' %>
      <%= link_to "Upload", new_upload_path %>
      <%= link_to "Cover", new_cover_path %>
      <div class="dropdown">
        <button class="dropbtn">Maintenance
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <%= link_to "Maintain Documents", documents_path, :style => 'color:gray'%>
          <%= link_to "Maintain Folders", folders_path,:style => 'color:gray' %>
          <%= link_to "Maintain Tags", tags_path,:style => 'color:gray' %>
        </div>
      </div>
    </div>
      <span style="color: orange; font-size: medium; float: right;padding-right: 10px; padding-top: 14px;" id='application_status'>
            <%= render(:partial => '/app_status',:locals => {:worker_message =>"hi"})%>
       </span>
        <br class="clear" />



    <%= content_tag :h1, yield(:title) if show_title? %>
    <%= yield %>
  </div>

  </body>
</html>
